Python HOME

In [5]:
print('Hello World')

Hello World

Python Intro

In [33]:
print ("hello world")

hello world

Python Get Started

In [36]:
print ("Hello lads and gents")

Hello lads and gents

Python Syntax

In [11]:
if 10 > 2: 
    print ('Ya krut')

Ya krut

In [13]:
## The wrong one 
if 9 > 2:
print ('ya ne krutoi')

IndentationError: expected an indented block after 'if' statement on line 2 (3159059483.py, line 3)

In [15]:
## Tabulation rule

In [23]:
if 99 > 10: 
    print ("ya hochu kushat")
if 19 > 14:
    print (' ya ustal uchit matematiku')

ya hochu kushat
 ya ustal uchit matematiku

In [29]:
## Syntax ERROR example 
if 9 > 2:
    print ("asdasd")
        print ("asdasdasd")

IndentationError: unexpected indent (1179487394.py, line 4)

Variables examples

In [38]:
x = 5
y = "cheese burger"

Comments

In [42]:
## this is a comment
print ("Hello world")

Hello world

Python Comments

In [47]:
#this is a comment 
print ("hello master")

hello master

In [49]:
print ("hello mama") #this is also a comment

hello mama

In [51]:
#print ("hello world")
print ("Cheers teacher")

Cheers teacher

multiline comments

In [54]:
# first line of comment
# second line of comment 
# third line of comment 
print ("hello world")

hello world

In [58]:
"""
multi multi line comments bruh
i want to eat but im too lazy to cook
pampampam
"""
print ("hello world")

hello world

Python Variables

In [61]:
#Creating variables

In [69]:
x = 5
y = "John"
print (x)
print (y)

5
John

In [71]:
x = 4 # x is of type int
x = "sally" # x is for type string
print (x)

sally

In [73]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.00

In [75]:
x = 5
y = "john"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

In [77]:
x = "john" 
#is th same as 
x = 'john'

In [81]:
a = 4
A = "sally"
# A will not overwrite a

Variable Names

In [83]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "JohnPork"
MYVAR = "JohnPork"
myvar2 = "john"

In [85]:
#illegal variable names

In [87]:
2myvar = "john"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (3336569637.py, line 1)

In [89]:
#Techniques to make code more readable 
#camel case

In [91]:
myVariableName = "John"

In [93]:
#pascal case

In [95]:
MyVariableName = "John"

In [97]:
#snake case

In [99]:
my_variable_name = "John"

Assign Multiple

In [103]:
x,y,z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [105]:
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [107]:
fruits = ["apple", "banana", "cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output variables

In [110]:
x = "Python is awesome"
print(x)

Python is awesome

In [114]:
x = "Python"
y = "is"
z = "awesome"
print(x,y,z)

Python is awesome

In [116]:
x = "Python "
y = "is "
z = "awesome"
print(x+y+z)

Python is awesome

In [118]:
x = 5
y = 99
print(x+y)

104

In [122]:
#error
x = 5
y = "John"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [126]:
x = 5
y = "john"
print (x,y)

5 john

Global Variables

In [129]:
x = "awesome"
def myFunc():
    print("Python is " + x)

myFunc()

Python is awesome

In [152]:
x = "awesome"

def newFunc():
    x = "Fantastic"
    print("Python is " + x)

newFunc()

print("Python is " + x)

Python is Fantastic
Python is awesome

In [154]:
# The global Keyword

In [158]:
def myFunc():
    global x
    x = "Fanta"

myFunc()

print("Python is " + x)

Python is Fanta

In [160]:
x = "awesome"

def nyFunc():
    global x
    x = "fantast"

myFunc()

print("Python is " + x)

Python is Fanta

Python Data types

In [163]:
x = 5
print(type(x))

<class 'int'>

Python Numbers

In [168]:
x = 1 #int
y = 2.8 #float
z = 1j #complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [172]:
x = 1
y = 245345345345
z = -12123123123
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [174]:
x = 1.10
y = 1.0
z = -35.59
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [176]:
x = 35e3
y = 21E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [178]:
x = 3+5j
y = 5j
z = -5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [180]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [182]:
import random

print(random.randrange(1,10))

5

Python Casting

In [185]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [187]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [189]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

Python Strings

In [192]:
print("Hello")
print('Hello')

Hello
Hello

In [195]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [199]:
a = "hello"
print(a)

hello

In [203]:
a = """ya ochen silno ustal eto delat
sdfsdf sdf sdf 
sdfg sg sfg """
print(a)

ya ochen silno ustal eto delat
sdfsdf sdf sdf
sdfg sg sfg

In [205]:
a = '''sfgoudjf glDFG ;kdf gdfk GK
dfg kd
'lfg 'dlfkg df'g 
dfkl g
d'lf kg
'''
print(a)

sfgoudjf glDFG ;kdf gdfk GK
dfg kd
'lfg 'dlfkg df'g
dfkl g
d'lf kg

In [209]:
#string are arrays
a = "Hello, world"
print(a[1])

e

In [211]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [213]:
a = "hello world"
print(len(a))

11

In [219]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [221]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [223]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [225]:
 txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Slicing Strings

In [228]:
b = "hello world"
print(b[2:5])

llo

In [230]:
b = "hello world"
print(b[:5])

hello

In [232]:
b = "hello rolfs"
print(b[2:])

llo rolfs

In [234]:
b = "hello world"
print(b[-5:-2])

wor

Modify strings

In [237]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [239]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [241]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [243]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [245]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

String Concaatenation

In [248]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [250]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Format - Strings

In [253]:
#error
age = 36
txt = "My name is John I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [255]:
age = 36
txt = f"My name is John I am {age}"
print(txt)

My name is John I am 36

In [257]:
price = 59
txt = f"the price is {price} dollars"
print(txt)

the price is 59 dollars

In [259]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [261]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

Escape Characters

In [266]:
#error
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (3311210617.py, line 2)

In [268]:
txt = "We are the so-called \"Vikings\" from the north."